<body style="       
    display: flex;
    flex-flow: column;
    width: 100%;">  

    <app-main-nav-bar style="flex: 0 1 auto;"></app-main-nav-bar>

    <div style="padding-left: 20%; padding-right:20%; font-size:x-large;">


        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>

        <h1 style="display:flex ; justify-content: center;">
           Goal of this Algorithm Visualization
        </h1>
    
        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>

        <div style="display: flex; flex-flow: row; height: fit-content;">
            <div style="flex: 0 0 auto; display: flex; justify-content: center; align-items: center;">
                <img style="height: 300px;" src="assets\data\images\Visualize_img.jpg" alt="failed to load">
            </div>
            
            <span style="flex: 1 0 50px;"></span>

            <div style="flex: 5 1 auto; display: flex; align-items: center;">
                <ul style="line-height: 50px;">                      
                    <li> Arouse interest and make learning interactive </li>
                    <li> Make complex Algorithms easier to grasp </li>    
                    <li> Build intuition for computational complexity </li>
                    <li> Show impact of input-data </li>
                    <li> Allow optimization through algorithm-customization </li>
                </ul>
            </div>
    
            
        </div>



    


        
        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>

        <h1 style="display:flex ; justify-content: center;">
            About Me
        </h1>

        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>



        <div style="display: flex; flex-flow: row; height: fit-content;">
            <div style="flex: 0 0 auto; display: flex; justify-content: center; align-items: center;">
                <img style="height: 400px;" src="assets\data\images\Leon_Blum.jpg" alt="failed to load">
            </div>
            
            <span style="flex: 1 0 50px;"></span>

            <div style="flex: 5 1 auto;">
                <h2>
                    Hey, what's up! I'm Leon.
                </h2>

                <p>
                    I'm a cologne-born, dark-chocolate-loving, cycling guy 
                    who admires great tech and is always curious how stuff works under the hood.
                </p>
                <p>
                    My non-technical interests are cooking, bread baking and knife making.
                </p>
                <p style="font-style: italic;">
                    "What made me unexpectedly love programming is the mix of creativity and logical problem solving."
                </p>                             
            </div>
            
        </div>

        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>

        <h1 style="display:flex ; justify-content: center;">
            My Story
        </h1>

        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>

        <div style="display: flex; flex-flow: row; height: fit-content;">
            <div style="flex: 0 0 auto; display: flex; justify-content: center; align-items: center;">
                <img style="height: 700px;" src="assets\data\images\story.jpg" alt="failed to load">
            </div>
            
            <span style="flex: 1 0 50px;"></span>

            <div style="flex: 5 1 auto;">
                <p>
                    I grew up in a small village near Cologne in Germany. 
                    I spent most of my time building stuff with gears using LEGO Technic. I loved it! 
                    By getting my first computer, Computer Games joined the mix.        
                </p>
                <p>
                    After graduating from High School, I thought about what to do in life. Knowing my passion for Tech, mechanics, and logical thinking, I decided to study Mechanical Engineering.
                </p>
                <p>
                    Towards the end of my studies, I got interested in the field of computational Engineering. 
                    So I chose a Master's Thesis in the field of fluid simulation (CFD).
                </p>
                <p>
                    Although I did get a good grasp of how to do a proper CFD-Simulation, how it worked under the hood was unanswered. 
                    Thus I wanted to learn about computer science. 
                    
                </p>
                <p>
                    I started learning Python, which seemed a good fit for an engineer.
                    Following up, I jumped into algorithms and their foundation data structures. 
                    I recognized solutions should start on the drawing board and not in the code editor.  
                </p>
                <p>
                    Digging deeper, I was astonished by many of the clever ways existing algorithms approached a problem. 
                    After several months of intensive studies, I chose to build a visualization web application using angular. 
                    Including three topics: Pathfinding algorithms, sorting algorithms, and Machine Learning.
                </p>
                              
            </div>
            
        </div>

        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>

        <h1 style="display:flex ; justify-content: center;">
            Knife Making
        </h1>

        <mat-divider style="margin-top: 50px; margin-bottom: 50px;"></mat-divider>

        <div style="display: flex; flex-flow: row; height: fit-content;">
            <div style="flex: 0 0 auto; display: flex; justify-content: center; align-items: center;">
                <img style="height: 400px;" src="assets\data\images\Knife.jpg" alt="failed to load">
            </div>
            
            <span style="flex: 1 0 50px;"></span>

            <div style="flex: 5 1 auto;">
                <p>
                    When Covid-19 started, I took the opportunity to learn about knife making. 
                    The first attempt ended in a broken blade due to inappropriate heat treatment. 
                    Investing around 100 hours of grinding, sanding, and in professional heat treatment resulted in the pictured knife.

                </p>
                <p>
                    Making knives taught me a lot about planning, attention to detail and 
                    the rewards perseverance can withhold.  
                </p>
        
                              
            </div>

            
        </div>

        <mat-divider style="margin-top: 50px; margin-bottom: 20%;"></mat-divider>




    </div>
</body>