/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --primary-base: #3f51b5;
    --accent-base: #ff4081;
    --warn-base: #F44336;
    --yellow-base: rgb(255, 208, 0);
    --dark-red-base: rgb(190, 0, 0);
    --green-base: rgb(157, 238, 35); 
}
